@import '../../styles/_variables.scss';

.photo-gallery {
    &__item {
        margin-bottom: $grid-gutter-width;
        img {
            cursor: pointer;
        }
    }
}

.modal-open {
    #root {
        position: relative;
        z-index: 1051;
    }
}