@import '../../styles/variables';
@import '../../styles/mixins';

.step {
    @include listitem-hover;

    ul {
        margin-bottom: $paragraph-margin-bottom;
    }

    > *::first-letter {
        text-transform: capitalize;
    }

    &--checked {
        color: $primary;
        text-decoration: line-through;
    }
}